{% extends 'base.html.twig' %}

{% block title %}
    Ajouter une figure
{% endblock %}

{% block body %}
    {{ form_start(form) }}


    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    {{ form_rest(form) }}


    <collection-input data-target-id="register_trick_images" data-label="Image"></collection-input>

    <collection-input data-target-id="register_trick_videos" data-label="URL"></collection-input>

    <button type="submit">
        Ajouter
    </button>
    {{ form_end(form) }}
{% endblock %}
