<h1>Rénitialisation de votre mot de passe !</h1>

<p>
    Veuillez réinitialiser votre mot de passe en cliquant sur le lien <a href="{{ link }}">Changer mon mot de passe</a>.
    Si vous n'êtes pas à l'origine de cette demande, vous pouvez l'ignorer.
</p>