{% extends 'base.html.twig' %}

{% block title %}Mail de réinitialisation de mot passe envoyé{% endblock %}

{% block body %}
    <p>Si un compte correspond à votre adresse mail, alors un mail vient juste de vous être envoyé avec un lien pour
        réinitialiser votre mot de passe. Ce lien expirera
        dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
    </p>
    <p>
        Si vous ne recevez pas l'email, veuillez s'il vous plait vérifier votre dossier spam ou
        <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.
    </p>
{% endblock %}
